head{
	font-family: fantasy;
	font-style: bold;
	font-size: 30px;
	font-style: italic;
}

body{
	font-family: georgia;
	font-style: italic;
	text-align: center;
	font-size: 25px;
	color: black;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
	background-image: url("http://static.asiawebdirect.com/m/phuket/portals/www-singapore-com/homepage/attractions/marina-bay-sands-casino/pagePropertiesImage/marina-bay-sands-casino-1200.jpg");
	background-size: 1600px, 900px;
	background-repeat: no-repeat;
	color: #181516;
}
</style>

